@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 3px solid red($color: #000000);
}


$textcolor1: black;
$textcolor2: white;
$textcolor3: #3F93D2;

.container{
    margin: 0  auto;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
}


//--------------navigation-----------//

.navbar{
    display: flex;
    flex-wrap: wrap; //задаёт правила вывода flex-элементов 
    //— в одну строку или в несколько, с переносом блоков. 
    //Если перенос разрешён, то возможно задать направление, 
    //в котором выводятся блоки.
    align-items: center;
    justify-content: space-around; 
    //Равномерно распределяет все элементы по ширине flex-блока.
    //Все элементы имеют полноразмерное пространство
    
    a{
        text-decoration: none;
        color: $textcolor1;
        font-family: "montserrat";
    }

    .list{
        list-style: none;
        display: flex;
        gap: 101px;
        //Свойство gap устанавливает промежутки между строками 
        //между строками и столбцами сетки
        font-size: 30px;
    }

    li.vhod{
        font-weight: bold;
    }
}

//----------------slider---------------//
.slider{
    width: 1100px;
    height: 600px;
    overflow: hidden;//все, что выходит за рамки - скрывается
}

.middle{
    position: absolute;
    top: 55%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.navigation{
    position: absolute;
    bottom: 16px;
    left: 38%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .7;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    width: 25%;
    transition: all .6s ease;
}

.slide img{
    width: 811px;
    height: 542px;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -25%;
}

#r3:checked ~ .s1{
    margin-left: -50%;
}

#r4:checked ~ .s1{
    margin-left: -75%;
}
//--------------ГЛАВНАЯ-------------//



.bgfd{
    width: 100%;
    height: 1080px;
    background-image: url(../img/bggl.png);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.fpinfo{
    display: flex;
    justify-content: flex-start;

    .textfp{
        align-items: center;
        margin-top: 230px;
    
        .mivfactax{
            p{
                color: $textcolor2;
                font-size: 75px;
                font-family: Montserrat;
            }
        }
    
        .infofact{
            p{
                font-size: 30px;
                color: $textcolor2;
                font-family: "montserrat";
            }
        }
    }
}




//---------------------ФАКТЫ-------------------//

.sp{
    width: 100%;
    height: 3113px;
    background-image: url(../img/bggl2.png);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.zagalovok{
    text-align: center;
    margin-top: 84px;

    p{
        color: $textcolor1;
        font-family: "montserrat";
        font-size: 55px;
    }
}


.fact-holder{
    display: flex;
    justify-content: space-between;

    .fact{
        width: 33%;
        margin-top: 71px;

        .fact-img{
        display: flex;
        justify-content: center;
        }

        .fact-text{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 60px;
        }
        p{
            color: $textcolor1;
            font-size: 30px;
            font-family: "montserrat";
        }
    }
}

.fact-holder2{
    display: flex;
    justify-content: space-between;
    margin-top: 97px;

    .fact{
        width: 33%;
        margin-top: 71px;

        .fact-img{
        display: flex;
        justify-content: center;
        }

        .fact-text{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 60px;
        }
        p{
            color: $textcolor1;
            font-size: 30px;
            font-family: "montserrat";
        }
    }
}
//--------------------- СПОНСОРЫ-------------------//

.zagolovok2{
        margin-top: 194px;
        align-items: flex-start;
    p{
        color: $textcolor1;
        font-size: 50px;
        font-family: Montserrat;
    }
}

.sponsori{
    display: flex;
    width: 100%;
    margin-top: 97px;
    align-items: center;
    justify-content: space-between;

    img{
        width: 200px;
        height: calc(100%/3);
    }
}
//---------------------КОНТАКТЫ-------------------//
.kontakti{
    display: flex;
    justify-content:space-between;  
  
    .kontakti-info{
        margin-top: 293px;

        .kontakizagalovok{
            p{
                font-size: 55px;
                color: $textcolor1;
                font-family: "montserrat";
                font-size: 55px;
                width: 400px;
            }
        }

        .kontakti-text{
            p{
                margin-top: 27px;
                font-size: 40px;
                color: $textcolor1;
                font-family: "montserrat";
            }
        }

    }
    
    .kontakti-img{
        margin-top: 293px;

    }
}


//---------------------АДРЕС-------------------//

.adress{
    display: flex;
    justify-content: space-between;
    .adress-info{
        margin-top: 245px;

        .adresszagalovok{
            p{
                font-size: 55px;
                color: $textcolor1;
                font-family: "montserrat";

            }
        }
        
        .adress-text{
            p{
                margin-top: 27px;
                font-size: 35px;
                color: $textcolor1;
                font-family: "montserrat";
                width: 100%
            }
        }
    }

    .adress-img{
        margin-top: 255px;
    }
}

//---------------------FOOTER-------------------//
.footerbg{
    width: 100%;
    height: 400px;
    background-image: url(../img/footer.png);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.footer{
    display: flex;
    justify-content: space-between;
    .footerleft{
        margin-top: 62px;


        .footerzagalovok{
            p{
                font-size: 40px;
                font-weight: bold;
                font-family: "montserrat";
                color: $textcolor2;
                width: 620px;
            }
        }

        .social{
            display: flex;
            margin-top: 40px;
            align-items: center;
            justify-content: space-between;
            width: 316px;
        }
    
    }

        .konez{
            margin-top: 100px;
            p{
                font-family: "montserrat";
                font-size: 22px;
                font-weight: 500;
                color: $textcolor2;
            }
        }
    }

    .footerright{

        text-align: right;
        margin-top: 200px;
        
        .footerzagalovok2{

            p{
                font-size: 50px;
                font-weight: bold;
                font-family: "montserrat";
                color: $textcolor2;
            }
        }

        .konez2{
            margin-top: 37px;

            p{
                font-size: 30px;
                font-family: "montserrat";
                color: $textcolor2;
            }
        }
    }


//------------blog.html--------------//

.spbg{
    width: 100%;
    height: 2160px;
    background-image: url(../img/bgblog.png);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

//--------------navigation-----------//

.navbar-blog{
    display: flex;
    flex-wrap: wrap; //задаёт правила вывода flex-элементов 
    //— в одну строку или в несколько, с переносом блоков. 
    //Если перенос разрешён, то возможно задать направление, 
    //в котором выводятся блоки.
    align-items: center;
    justify-content: space-around; 
    //Равномерно распределяет все элементы по ширине flex-блока.
    //Все элементы имеют полноразмерное пространство
    margin-top: 20px;
    
    a{
        text-decoration: none;
        font-family: "montserrat";
        color: $textcolor3;
    }

    .list{
        list-style: none;
        display: flex;
        gap: 101px;
        //Свойство gap устанавливает промежутки между строками 
        //между строками и столбцами сетки
        font-size: 30px;
    }

    li.vhod{
        font-weight: bold;
    }
}

//------------blogpervaiastroka-------------//

.blog{
    display: flex;
    justify-content: space-between;
    margin-top: 123px;

}


.blog2{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;

}

.blog3{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;

}

//-------------------katalog.html----------------//

.tpbg{
    width: 100%;
    height: 1640px;
    background-image: url(../img//bgkatalog.png);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.katalog-text{
    justify-content: flex-start;
    margin-top: 58px;

    p{
        color: $textcolor1;
        font-size: 100px;
        font-family: Montserrat;    
    }
}

.katalog{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;

}

.katalog2{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

